*{
  padding: 0;
  margin: 0;
}
header{
  display: flex;
  background-color: rgb(16, 16, 112);
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.logo{
 display: flex;
 align-items: center;
}
.logo img{
  width: 100px;
  border-radius: 300px;
}
.logo h1{
  color: white;
}
nav a{
  color: white;
}
.content{
  display: flex;
  height: 100vh;

}
.foot{
 padding: 8px;
  width: 600px;
  height: 100%;
  border: 2px solid rgb(119, 119, 119);
}
.basket{
 padding: 8px;
  width: 600px;
  height: 100%;
  border: 2px solid rgb(119, 119, 119);
}
.tennis{
 padding: 8px;
  width: 600px;
  height: 100%;
  border: 2px solid rgb(119, 119, 119);
}
.foot img{
  width: 100%;
}
.basket img{
  width: 100%;
}
.tennis img{
  width: 100%;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

